PYTHONUNBUFFERED=TRUE
DJANGO_SECRET=this_is_a_very_secret_string
DJANGO_DEBUG=True
REDIS_URL=redis://redis/
POSTGRES_URL=postgres
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASS=postgress
FB_API_KEY=