.status-loading {
  &:not(.loading) {
    visibility: hidden;
  }
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

#session-progress-bar {
  @apply h-8 bg-primary-lighter w-full relative rounded-full flex flex-row;
  .bar {
    overflow: hidden;
    @apply h-5 bg-primary-light rounded-full mx-2 my-auto relative;

    &.animate:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(
                      -45deg,
                      rgba(255, 255, 255, .2) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(255, 255, 255, .2) 50%,
                      rgba(255, 255, 255, .2) 75%,
                      transparent 75%,
                      transparent
      );
      z-index: 1;
      background-size: 50px 50px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
      animation: move 2s linear infinite;
    }
  }

  .progress-label {
    @apply absolute w-full h-full pin-t pin-b flex justify-center items-center font-bold text-black z-10;
  }
}
